include README.md
include LICENSE
include requirements.txt
include install_pymin.ps1
include setup_pymin.ps1
include uninstall_pymin.ps1
include INSTALL.md
include PYMIN_SKLEARN_GUIDE.md
include SKLEARN_USAGE.md
recursive-include PyMin *.py
recursive-include PyMin *.txt
recursive-include PyMin *.md
recursive-include configs *
